<div class="p-4">
  <h2 class="text-2xl font-bold mb-4 text-white">Employees</h2>
  <div
    *ngIf="employees.length; else noEmployees"
    class="bg-white shadow-md rounded-lg overflow-hidden"
  >
    <table class="min-w-full table-auto">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left text-gray-700 font-medium">ID</th>
          <th class="px-4 py-2 text-left text-gray-700 font-medium">Name</th>
          <th class="px-4 py-2 text-left text-gray-700 font-medium">
            Last Name 1
          </th>
          <th class="px-4 py-2 text-left text-gray-700 font-medium">
            Last Name 2
          </th>
          <th class="px-4 py-2 text-left text-gray-700 font-medium">
            Department
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let employee of employees"
          class="border-b hover:bg-gray-50 transition"
        >
          <td class="px-4 py-2 text-gray-800">{{ employee.codeEmployee }}</td>
          <td class="px-4 py-2 text-gray-600">{{ employee.name }}</td>
          <td class="px-4 py-2 text-gray-600">{{ employee.lastName1 }}</td>
          <td class="px-4 py-2 text-gray-600">{{ employee.lastName2 }}</td>
          <td class="px-4 py-2 text-gray-600">
            {{ employee.codeDepartment.nameDepartment }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noEmployees>
    <p class="text-white italic">There are no Employees.</p>
  </ng-template>
</div>
