<div class="h-screen bg-gradient-to-br from-black to-gray-900">
  <div class="mb-4">
    <label for="viewSelect" class="block mb-2 text-sm text-center text-white">
      Select
    </label>
    <select
      id="viewSelect"
      [(ngModel)]="view"
      class="block w-full rounded-md border-gray-100 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
    >
      <option value="departments">Departments</option>
      <option value="employees">Employees</option>
    </select>
  </div>

  <div class="mb-4 block text-center text-white space-x-4">
    <button (click)="openModal(ModalTypes.DEPARTMENT)">
      Crear Departamento
    </button>
    <button (click)="openModal(ModalTypes.EMPLOYEE)">Crear Empleado</button>
  </div>

  <div>
    <app-department *ngIf="view === 'departments'"></app-department>
    <app-employee *ngIf="view === 'employees'"></app-employee>
    <!-- <div *ngIf="view === 'employees'" class="bg- white"> -->
    <!-- <h2 class="text-lg text-green">Employees</h2>
      <ul class="divide-y divide-gray-200">
        <li
  
          class="py-4 px-4 sm:px-6 hover:bg-gray-100 cursor-pointer"
        >
          <span class="font-medium text-gray-800">{{ employee.id }}</span>
          <span class="text-gray-600"
            >{{ employee.name }} - {{ employee.position }}</span
          >
        </li>
      </ul> -->
    <!-- </div> -->
  </div>

  <app-modal *ngIf="modalIsOpen" [mode]="modalMode" (close)="closeModal()">
  </app-modal>
</div>
